name: "test-on-pr"
on: [pull_request]

jobs:
  check-whisper:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with: 
        components: rustfmt
    
    - name: check fmt
      run: cargo fmt --all -- --check

  test-whisper:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - name: install vulkan sdk
        if: matrix.platform == 'macos-latest'
        uses: humbletim/install-vulkan-sdk@v1.1.1
        with:
          version: latest
          cache: true

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: check burn build
        run: cargo build 

      - name: run generic tests
        run: cargo test
    
      - name: run burn inference tests
        if: matrix.platform == 'macos-latest'
        run: cargo test --release -- --ignored

      - name: run whisper-rs vulkan inference tests
        if: matrix.platform == 'macos-latest'
        run: export DYLD_LIBRARY_PATH=$VULKAN_SDK/lib:$DYLD_LIBRARY_PATH && cargo test --release --features whisper_cpp_vulkan -- --ignored