name: "test-on-pr"
on: [pull_request]

jobs:
  check-whisper:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with: 
        components: rustfmt
    
    - name: check fmt
      run: cargo fmt --all -- --check

  test-whisper:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev

      - name: install vulkan sdk
        if: matrix.platform == 'ubuntu-latest'
        uses: humbletim/install-vulkan-sdk@c2aa128094d42ba02959a660f03e0a4e012192f9

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: swatinem/rust-cache@v2

      - name: cargo build
        run: cargo build
      
      - name: run generic tests
        run: cargo test

      - name: cargo build
        if: matrix.platform == 'macos-latest'
        run: cargo build --features metal
      
      - name: run generic tests
        if: matrix.platform == 'macos-latest'
        run: cargo test --features metal